<h1>{{Title}}</h1>

  <mat-form-field>
  
    <input matInput placeholder="Party Group" [(ngModel)]="search">

  </mat-form-field>
  
  <mat-form-field>
    <input matInput placeholder="Input">
	<!--{{ specific_name.name  }} -->
  </mat-form-field> 
  <br/>
  <br/><br/>
  
  <mat-form-field>
  <input matInput [matDatepicker]="start" placeholder="Start Date">
  <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
  <mat-datepicker #start></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="end" placeholder="End Date">
  <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
  <mat-datepicker #end></mat-datepicker>
</mat-form-field>
<!--<input [(ngModel)]="search" (keyup.enter) = "OnKeyUp()"/> -->
<!--<ul>
<li *ngFor = "let C of Courses| filter : search" (click)= "clicked(C)">
{{ C.id}} 
{{C.name}}

</li> -->
<!--<button mat-icon-button (click)="doGET()">	<mat-icon> search </mat-icon> </button>
<ul class = "list-group">
<li *ngFor = "let post of posts" class = "list-group-item" >


{{post.title}}

</li>
</ul> -->

<!--<mat-table #table [dataSource]="courses">

     Position Column 
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{course.id}} </mat-cell>
    </ng-container>
	
	<ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{course.name}} </mat-cell>
    </ng-container>

 <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table> 
<ul>
  <li *ngFor="let course of courses">
    
    
    {{course.id}}
	{{course.name}}
  </li>
</ul> -->
<table>
<thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
		        <th>Subject</th>
      </tr>
    </thead>
<tbody>

      <tr *ngFor="let course of courses">
        
        <td>{{course.id}}</td>
        <td>{{course.name}}</td>
        <td>{{course.age}}</td>
		<td>{{course.subject}}</td>
      </tr>
    </tbody>
	</table>
<!--<div class="mdl-cell mdl-cell--4-col"> 
        <div *ngIf="specific_name">
            
            <h3>Name: {{ specific_name.name  }}</h3>
          
        </div>  
    </div> -->
  
